html{
    padding: 0;
    font-family: sans-serif;
}

#header{
    background-color: #5F0F4E;
    color: #d3d3d3;
}

.main{
    position: absolute;
    display: block;
    align-self: center;
    padding-left: 40%;
}

h3{
    align-self: center;
    padding-left: 45%;
}

.login{
    position: relative;
    align-self: center;
}

#username_box{

}

#password_box{

}

#ubox,#pbox{

}

.signup{

}

#login_btn{

}

#signup_btn{

}