<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- StyleSheets Go here -->

    <link rel="stylesheet" type="text/css" href="/static/css/normalize.css">

    <title>Networx Home</title>

</head>
<body>

<div class="main">
    <div id="big_header">
        <h1> NETWORX </h1>
    </div>
    <div class="login">
        <h3> Log In </h3>
        <div class="login">
            <span>
                <input type="text" name="username" placeholder="Username" required>
                <input type="password" name="password" placeholder="Password" required>
                <div class="login">
                    <input type="submit" value="Submit">
                </div>
            </span>
        </div>
    </div>
    <div class="signup">
        <h3> Sign Up! </h3>
        <div class="signup">
            <button id="signup_btn" name="signup_btn">Sign Up!</button>
        </div>
    </div>
</div>

</body>
</html>