<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link rel="stylesheet" type="text/css" href="/static/css/loginStyle.css">

</head>
<body>

<!-- Header -->
<div class="row" id="header">

  <div class="col-xs-12 text-center" id="header">
    <h1>Networx</h1>
  </div>

</div>

<form action="/action_page.php">
  <div class="imgcontainer">
    <img src="pictures/login-avatar.png" alt="Avatar" class="avatar" style="width: 150px; height: 150px;">
  </div>

  <div class="container" style="width: 50%;">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="container">
    <a href="register">
      <button type="button" class="btn btn-primary" style="width:100px;">Register</button>
    </a>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form>

</body>
</html>
