<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/loginStyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>Networx Home</title>
</head>
<body>
<h1 id="big_header"> NETWORX </h1>
<div class="main">
    <div class="login">
        <h3> Log In </h3>
                <div id="username_box">
                    <input id="ubox" type="text" name="username" placeholder="Username" required>
                </div>
                <div id="password_box">
                    <input id="pbox" type="password" name="password" placeholder="Password" required>
                </div>
                <div class="login">
                    <input id="login_btn" type="submit" value="Submit">
                </div>
    </div>
    <div class="signup">
        <h3> Sign Up! </h3>
            <button id="signup_btn" name="signup_btn">Sign Up!</button>
    </div>
</div>

</body>
</html>