{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
{% endblock %}

{% block css_block %}
<link rel="stylesheet" type="text/css" href="/static/css/profile.css">
{% endblock %}


{% block body_block %}
  <div class="row" id="header">

    <div class="col-xs-12 col-sm-2" id="avatarImage">
	     <img class="img-rounded img-responsive" src="{% static  "media/avatar-female.png" %}" alt="Profile Image " style="width:150px;height:150px;">
    </div>

    <div class="col-xs-12 col-sm-7" id="personDetails">
      <h3><strong>Name:</strong> Jane Smith</h3>
      <h3><strong>Job Level:</strong> Intern</h3>
      <h3><strong>Department:</strong> Back Office</h3>
    </div>

    <div class="col-xs-12 col-sm-1"id="modalButton">
      <a href="#">
          <br><button class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Meetup</button>
      </a>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Confirm you want to meet</h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default center-block" data-dismiss="modal">Confirm</button>
        </div>
      </div>

    </div>
  </div>

 <div class="row">

   <div class="col-xs-12 col-sm-4" id="skillsColumn">
     <button class="btn btn-danger" id="skillButton">Python</button>
     <button class="btn btn-warning" id="skillButton">Angular</button>
     <button class="btn btn-success" id="skillButton">Java</button>
     <button class="btn btn-primary" id="skillButton">REACT</button>
     <button class="btn btn-info" id="skillButton">R</button>
   </div>

    <div class="col-xs-12 col-sm-6" id="profileInfo">
      <h4><strong>Meetup Preference:</strong> Coffee</h4>
      <h4><strong>Education:</strong> Glasgow University</h4>
      <h4><strong>Interests:</strong></h4>
      <ul>
        <li>Machine Learning</li>
        <li>UX</li>
        <li>Front End Development</li>
      </ul>
    </div>

  </div>

  <!-- Container (Contact Section) -->
  <div id="contact" class="container-fluid bg-grey text-center" align="center" style="padding: 2%;">
        <p><span class="glyphicon glyphicon-map-marker"></span>Glasgow</p>
        <p><span class="glyphicon glyphicon-phone"></span>07885411111</p>
        <p><span class="glyphicon glyphicon-envelope"></span> users@company.com</p>
  </div>

  <!-- Add Google Maps -->
  <div id="googleMap" style="height:200px;width:100%;"></div>
  <script>
  function myMap() {
  var myCenter = new google.maps.LatLng(55.861211, -4.254315);
  var mapProp = {center:myCenter, zoom:12, scrollwheel:false, draggable:false, mapTypeId:google.maps.MapTypeId.ROADMAP};
  var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);

  marker.setMap(map);
  }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAvUUvn-N0ioRjpTgijTATOFXWC8e7kA-g&callback=myMap"></script>

{% endblock %}
