<!DOCTYPE html>
<head>

	<title>Registration</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<link rel="stylesheet" type="text/css" href="/static/css/register.css">

</head>
<body>

	<!-- Header -->
	<div class="row" id="header">

	  <div class="col-xs-12 text-center" id="header">
	    <h1>Networx</h1>
	  </div>

	</div>

	<div id="formOuterContainer">
    <div id="formInnerContainer">

			<form method="POST" action="">{% csrf_token %}
					{{form}}
		        <div class="form_block">
		            <input type="submit" value="Save both models"/>
		        </div>
			</form>

		</div>
	</div>

</body>
