<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Profile Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link rel="stylesheet" type="text/css" href="/static/css/search.css">

</head>

<body id="profilePage">

<!-- Header -->
<div class="row" id="header">

  <div class="col-xs-12 text-center" id="header">
    <h3>Networx</h3>
  </div>

</div>

<!-- Seach box -->
<div class="container">
	<div class="row">
     <div id="search-input">
        <div class="input-group col-md-12">
            <input type="text" class="  search-query form-control" placeholder="Search" />
            <span class="input-group-btn">
                <button class="btn btn-danger" type="button">
                    <span class=" glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
    </div>
	</div>
</div>

<!-- Footer -->
<footer class="container-fluid text-center" style="padding: 2%;">
  <a href="#myPage" title="To Top">
  </a>
  <h4>Networx 2018</ph4
</footer>

</body>
</html>
