<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- StyleSheets Go here -->
    <link rel="stylesheet" type="text/css" href="/static/css/normalize.css">

    <title>Networx Search</title>

</head>
<body>

<div class="main">
    <div id="outer_search_box">
        <h3> Search </h3>
        <select id="skill_select">
            <!-- Other options go here-->
            <option value="javascript">JavaScript</option>
            <option value="java">Java</option>
            <option value="python">Python</option>
        </select>
        <div id="inner_search_box">

        </div>
    </div>
</div>

</body>
</html>